.header {
    border-bottom: 1px solid #bbbbbbcb;
}

.header .header-navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 1rem 4rem;
    gap: 1.2rem;

}

.header-navbar img {
    margin-right: 50px;
}

.header-navbar li {
    margin-left: 10px;
    margin-right: 20px;
    list-style: none;
    transition: all 0.3s ease;
}

.header-navbar li img {
    float: left;
    width: 32px;
    height: 32px;
    margin-right: -50px;
}

.header-navbar li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 40px;
}

.header-navbar li:hover {
    color: #fdbf60;
    transform: scale(1.1);
}


.lading-container {
    min-height: 100vh;
    background-color: #6f27ff;
}

.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main>div {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -60px;
    background-color: rgb(52, 0, 95);
    border-radius: 10px;
}

.main>div .text-box {
    position: relative;
    max-width: 600px;
    margin-left: 50px;
}

.main>div .text-box h1 {
    color: #ececec;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.main>div .text-box h1 span {
    background: #FF8911;
    background: linear-gradient(to right, #FF8911 0%, #FDBF60 100%);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2em;
    font-weight: 900;
}

.main>div .text-box p {
    color: #ececec;
    font-size: 2em;

}

.main>div .img-box {
    display: flex;
    justify-content: flex-end;

}