body {
    background-color: #6f27ff;
}


h1 {
    color: #ececec;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 5px;
    align-self: self-start;
}

.main {
    position: relative;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.section {
    position: relative;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(52, 0, 95);
    border-radius: 10px;
    margin-bottom: 50px;


}

.container {
    display: flex;
    align-items: center;
    margin-bottom: 33px;
}

.container-search {
    display: flex;
    justify-content: flex-end;
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 300px;
    margin-bottom: 10px;
}

.search-input {
    flex: 1;
    height: 35px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 5px;
}


h2 {
    flex-basis: 100%;
    color: #ececec;
    font-size: 2em;
    margin-bottom: 10px;
}

.search>input {
    border-radius: 0;
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    margin-right: 0;
    height: 75%;
}

.search>button {
    border-radius: 0;
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    height: 75%;
    line-height: 1rem;
}

.section>div {
    width: 100%;
}

.section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: 0;
    gap: 5rem;
    color: #ececec;
    list-style: none;
}

.id-grid {
    display: grid;
    padding: 1rem;
    background-color: rgb(52, 0, 95);
    border-radius: 10px;
    grid-gap: 5px;
    margin-top: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    margin-top: 10px;
}

.id-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 5px;
    margin-top: 10px;
}

.square {
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.select-square {
    width: 3rem;
    height: 3rem;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}


.select-square label {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding: 22% 40%;
    border: 2px solid #000000;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s;
}

.select-square input[type="checkbox"] {
    display: none;
}

#assign-display .select-square input[type="checkbox"]:checked+label {
    border: 3px solid #9f70fd;
}

#release-display .select-square input[type="checkbox"]:checked+label {
    border: 3px solid #42c087;
}

div.uso {
    background-color: #9f70fd;
}

div.disponible {
    background-color: #42c087;
}

div.notificada {
    background-color: #f17c37;
}

div.mantenimiento {
    background-color: #f2c43d;
}

div.defectuosa {
    background-color: #e0444e;
}

.data {
    display: flex;
    padding: 2rem 1rem;
    /* gap: 3rem; */
    font-size: 1.5em;
    /* font-weight: 500; */
    margin-top: 50px;
    background-color: #ececec;
    /* width: 50%; */
    border-radius: 10px;
    max-width: 1000px;
}

.data-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 70px;
    gap: 15px;
}

.first-item {
    text-align: left;
    padding: 5px;
    font-weight: 900;
}


.grid-item {
    text-align: center;
}

@media (max-width: 800px) {
    .data-grid {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}


.head {
    text-align: right;
    margin: 0;
}

.data p {
    margin-bottom: 10px;
}

button {
    background: #6f27ff;
    border: none;
    padding: 0.5rem 1rem;
    color: #ececec;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 1px 10px;
}


button:hover {
    cursor: pointer;
    transform: scale(1.03);
    background: #731d9e;
}

button:active {
    transform: translateY(2px);
    background: #6f27ff;
}


.dialog {
    margin: auto;
    padding: 20px;
    background-color: #ececec;
    border-radius: 5px;
    border: none;
    max-width: 1000px;
}

.btn-dialogs {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.form {
    position: flex;
    transition: opacity 0.3s;
}

.dialog-head {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: start;
    margin-bottom: 20px;
    gap: 4rem;

}

.form-element {
    margin-bottom: 25px;
    font-weight: 600;
}

#form-title {
    background: #FF8911;
    background: linear-gradient(to right, #FF8911 0%, #FDBF60 100%);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    font-weight: 900;
    margin-left: 50;
}

input[type=submit] {
    background: #6f27ff;
    border: none;
    padding: 0.5rem 1rem;
    color: #ececec;
    border-radius: 5px;
    font-weight: 400;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    box-shadow: black 2px 1px 10px;
    margin-top: 20px;
}

input[value="Eliminar"] {
    background: #FF8911;
}

input[value="Listo"] {
    margin-right: 16rem;
}

input[type=submit]:hover {
    cursor: pointer;
    transform: scale(1.03);
}

input[value="Eliminar"]:hover {
    background: #e0444e;
}

input[value="Listo"]:hover {
    background: #731d9e;
}

.state-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 20px;
}

.state {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
}

#mantenimientos {
    color: #ececec;
}

.preventivo {
    background-color: #f2c43d;
}

.predictivo {
    background-color: #f17c37;
}

.correctivo {
    background-color: #e0444e;
}

div>h3,
.mantenimiento-h3 {
    color: #ececec;
}

.mantenimiento-h3 {
    margin-top: 1rem;
}

.state-info {
    padding: 10px 40px;
    background-color: #ececec;
    border-radius: 5px;
    margin-left: -15px;
}

#submit:hover {
    transform: scale(1.03);
    background: #731d9e;
}

#duration {
    background-color: #6f27ff;
    border-radius: 10px;
    color: #ececec;
    width: 50%;
}

.open {
    display: block;
    animation: fadeIn 0.5s ease;
}


.dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog.open::backdrop {
    animation: opacityOn 0.5s ease;
}

.dialog.close::backdrop {
    animation: opacityOff 0.5s ease;
}

.close {
    animation: fadeOut 0.5s ease;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-50%);
        opacity: 0;
    }
}


@keyframes opacityOn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

@keyframes opacityOff {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

section.mantenimiento {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.splitter {
    margin-bottom: 2rem;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}


@media screen and (min-width: 728px) {
    .section {
        flex-direction: row;
    }

    .section ul {
        gap: 10rem;
    }

    h1 {
        font-size: 4rem;
    }

    .main {
        padding: 3rem;
    }

}