# Ignore node_modules directory
node_modules/

# Ignore build output
dist/


.idea/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore sensitive or private files
secrets.json
private.key

# Ignore compiled binaries or executables
*.exe
*.dll

# Ignore mac build files
.DS_Store