:root{
    --main-color: #6f27ff;
    --sup: #9f70fd;
    --interact: #fdbf60;
    --action:#ff8911;
    --backgroud: #ececec;
}

body{
    background-color: #6f27ff;
}

body::-webkit-scrollbar {
  display: none;
}

main{
    width: 100%;
    padding-bottom: 50px;
}

.main-title{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 900;
    color: var(--backgroud);
    font-size: 3rem;
}

.main-container{

    color: #ececec;
    width: 80%;
    display: flex;
    margin: 10px auto;
    gap: 20px;
    justify-content: center;
 
}

#products {
  border-radius: 5px;
  background: #fff;
  border: none;
}

#store{
  border-radius: 5px;
  background: #fff;
  border: none;
}

#category{
  border-radius: 5px;
  background: #fff;
  border: none;
}

.inv-container h2{
    font-size: 2rem;
    color: var(--action);
    
    
    
}

.inv-container{  

    background-color:#34005f;
    width: 610px;
    min-height: 480px;
    border-radius: 10px;
    padding:15px 30px;
    display: flex;
    flex-direction: column;
    align-items:normal;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.inv-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}




.inv-container button{
    background: #6f27ff;
    border: none;
    min-width: 120px;
    padding: 0.5rem 1rem;
    color: #ececec;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    box-shadow: black 2px 1px 10px;
    margin: 0 auto;
    margin-top: 35px;
    align-self: flex-end;
    
}

.inv-container button:hover {
    transform: scale(1.03);
    background: #731d9e;
}

.inv-container button:active {
    transform: translateY(2px);
    background: #6f27ff;
}

.ticket-container{
    background-color:#34005f;
    width: 500px;
    height: 480px;
    border-radius: 10px;
    padding:15px 25px;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ticket-container button{
    background: #6f27ff;
    border: none;
    padding: 0.5rem 1rem;
    color: #ececec;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    box-shadow: black 2px 1px 10px;
    margin: 20px auto;

    
   
}

.ticket-container button:hover {
    transform: scale(1.03);
    background: #731d9e;
}

.ticket-container button:active {
    transform: translateY(2px);
    background: #6f27ff;
}
.ticket-container h2 {
    font-size: 2rem;
    color: var(--action);
}

.ticket-table{
    width: 100%;

}

.ticket-table td{
    text-align: center;
    width: 33%;
    border: var(--action) solid 1px;

}

/* MODAL
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.367);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
  }
  
  .modal.is-visible {
    visibility: visible;
    opacity: 1;
  }

  .close-modal{
    background: #6f27ff;
    border: none;
    min-width: 100px;
    color: #ececec;
    border-radius: 5px;
    font-weight: 450;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    box-shadow: black 2px 1px 10px;
    margin: center;
    margin-top: 35px;
    align-self: flex-end;
  }

  .close-modal:hover {
    transform: scale(1.03);
    background: #731d9e;
  }
  
  #codigo, #descripcion, #categoria {
    width: 215px;
    border-radius: 4px;
    border: none;
  }

  #descripcion{
    transform-origin: center center;
    translate: 10px;
  }

  .modal-dialog {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background:white;
    background-color: #6f27ff;
    overflow: auto;
    cursor: default;
    width: 60%;
    height: 50vh;
  }

  .modal-dialog::-webkit-scrollbar {
    display: none;
  }
  
  .modal-dialog > * {
    padding: 1rem;
  }
  
  .modal-header,
  .modal-detail {
    background: var(--lightgray);
  }
  
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal-header .close-modal {
    font-size: 1.5rem;
  }
  
  .modal p + p {
    margin-top: 1rem;
  }
  
  /*ARTICLES
  ------------------------------------------------*/
  
article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #34005f;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    padding-bottom: 15px;
    padding-left: 20px;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--action);
    padding: 35px;
  }



  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  article div{
    text-decoration: none;
  }

@media (max-width: 900px) {

    .inv-row{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
}