:root {
    --main-color: #6f27ff;
    --sup: #9f70fd;
    --interact: #fdbf60;
    --action: #ff8911;
    --backgroud: #ececec;
}

body {
    background-color: #6f27ff;
}

main {
    width: 100%;
    padding-bottom: 50px;
}

.main-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 900;
    color: var(--backgroud);
    font-size: 3rem;
}

.main-container {

    color: #ececec;
    width: 80%;
    display: flex;
    margin: 10px auto;
    gap: 20px;
    justify-content: center;

}

.sales-container h2 {
    font-size: 2rem;
    color: var(--action);

}

.sales-container {

    background-color: #34005f;
    width: 610px;
    height: 480px;
    border-radius: 10px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 5px 5px 15px -3px #0B0B0B;
    box-shadow: 5px 5px 15px -3px #0B0B0B;

}



.seles-container .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.sales-container label {
    font-weight: 500;
}

.sales-container__name,
.sales-container__email,
.sales-container__id,
.sales-container__phone,
.sales-container__products,
.sales-container__quantity {
    margin-top: 10px;
}

.sales-container__name input {
    width: 270px;
    border: none;
    border-radius: 4px;
}

.sales-container__id input {
    width: 270px;
    border-radius: 4px;
    border: none;
}

.info-container {
    display: flex;
    gap: 10px;
}

.sales-container__email input {
    width: 550px;
    border-radius: 4px;
    border: none;
}

.sales-container__phone input {
    border-radius: 4px;
    width: 550px;
    resize: none;
    border: none;
}

h3 {
    margin-top: 20px;
    color: var(--action);
    font-size: 1.3rem;

}

.products {
    display: flex;
    gap: 10px;
}

.sales-container__products select {
    width: 270px;
    border-radius: 4px;
    border: none;
}

.sales-container__quantity input {
    width: 270px;
    border-radius: 4px;
    border: none;
    height: 24px;
}



.sales-container button {
    background: #6f27ff;
    border: none;
    padding: 0.5rem 1rem;
    color: #ececec;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    box-shadow: black 2px 1px 10px;
    margin: 0 auto;
    margin-top: 35px;
    align-self: flex-end;

}

.sales-container button:hover {
    transform: scale(1.03);
    background: #731d9e;
}

.sales-container button:active {
    transform: translateY(2px);
    background: #6f27ff;
}

.ticket-container {
    background-color: #34005f;
    width: 500px;
    height: 480px;
    border-radius: 10px;
    padding: 15px 25px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-shadow: 5px 5px 15px -3px #0B0B0B;
    box-shadow: 5px 5px 15px -3px #0B0B0B;
}

.ticket-container button {
    background: #6f27ff;
    border: none;
    padding: 0.5rem 1rem;
    color: #ececec;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    box-shadow: black 2px 1px 10px;
    margin: 20px auto;



}

.ticket-container button:hover {
    transform: scale(1.03);
    background: #731d9e;
}

.ticket-container button:active {
    transform: translateY(2px);
    background: #6f27ff;
}

.ticket-container h2 {
    font-size: 2rem;
    color: var(--action);
}

.ticket-table {
    width: 100%;

}

.ticket-table td {
    text-align: center;
    width: 33%;
    border: var(--action) solid 1px;

}


.btn-nav {

    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}


.btn-nav button {
    background: #7836fc;
    border: none;
    padding: 0.5rem 1rem;
    color: #ececec;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}



.btn-nav button.selected {
    background: #731d9e;
}

.btn-nav button:hover {
    transform: scale(1.03);
    background: #731d9e;
}

.btn-nav button:active {
    transform: translateY(2px);
    background: #6f27ff;
}

.table {
    border-collapse: collapse;

    max-width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #34005f;
    border-radius: 10px;
    padding: 15px 25px;
    -webkit-box-shadow: 5px 5px 15px -3px #0B0B0B;
    box-shadow: 5px 5px 15px -3px #0B0B0B;

}

.table tr th {
    color: #ececec;
    font-size: 1.3rem;
}

.table tr td {
    color: #ececec;
    font-size: 1.1rem;
    text-align: center;
}

.table tr th,
.table tr td {
    padding: 10px;
    border: var(--action) solid 1px;
    border-collapse: collapse;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 1.2rem;
}

.search-container>label {
    color: #ececec;
    font-size: 1.3rem;
}


.dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.dialog {
    margin: auto;
    padding: 20px;
    background-color: #ececec;
    border-radius: 5px;
    border: none;
    max-width: 1000px;
    position: relative;
}

.dialog table {
    text-align: center;
}

#close {
    position: absolute;
    right: 10px;
    background: #6f27ff;
    border: none;
    padding: 0.5rem 1rem;
    color: #ececec;
    border-radius: 5px;
    font-weight: 500;
    text-decoration: none;
    transition: background 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    box-shadow: black 2px 1px 10px;
    align-self: flex-end;
}

#close:hover {
    transform: scale(1.03);
    background: #731d9e;
}

.rif-container {
    display: flex;
    justify-content: center;
}

#customerId {

    width: auto;
}